		<div class="container">
				<div class="row">
					<h2 class="well well-sm col-xs-4 text-center">インフルエンサー詳細</h2>
				</div>

				<div class="col-xs-3">
					<div class="item-image">
						<%= attachment_image_tag @influencer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_img.jpg" %>
					</div>
					<br>
					<% if @room %>
						<%= link_to "チャットへ", room_path(@room), class: "btn btn-success btn-lg" %>
					<% else %>
						<%= link_to "スカウトチャットを送る", rooms_path(influencer_id: @influencer.id), method: :post, class: "btn btn-success btn-lg" %>
					<% end %>
				</div>

			<div class="col-xs-9">
				<table class="table table-hover table-inverse table-bordered">
					<tbody>
						<tr>
							<td>氏名</td>
							<td><%= @influencer.name %></td>
						</tr>
						<tr>
							<td>氏名（フリガナ）</td>
							<td><%= @influencer.kana_name %></td>
						</tr>
						<tr>
							<td>都道府県</td>
							<td><%= @influencer.prefectures %></td>
						</tr>
						<tr>
							<td>SNS総フォロワー</td>
							<td><%= @influencer.sns_follower %></td>
						</tr>
						<tr>
							<td>SNSアカウント</td>
							<td><%= @influencer.account %></td>
						</tr>
						<tr>
							<td>ジャンル</td>
							<td><%= @influencer.genre_name %></td>
						</tr>
						<tr>
							<td>意気込み</td>
							<td><%= @influencer.enthusiasm %></td>
						</tr>
					</tbody>
				</table>
			</div>

				<div class="col-xs-3">
					<%= link_to "インフルエンサー一覧へ", owner_influencers_path, class: "btn btn-primary" %>
				</div>
			</div>