<div class="main-visual">
	<%= image_tag '/images/welcom.jpg' %>
	 <div class="logo"><%= image_tag '/images/logo2.png' %></div>
  <p class="main-visual-text">
  	インフルエンサーと企業の<br>
  	マッチングサービス</p>
  <p class="influencers-btn"><%= link_to "インフルエンサーの方はこちら", new_influencer_registration_path, class: "btn btn-success btn-lg" %></p>
  <p class="owner-btn"><%= link_to "企業の方はこちら", new_owner_registration_path, class: "btn btn-info btn-lg" %></p>
</div>

<div class="container">
	<div class="about">
		<h1 class="about-content">About</h1>
		<p class="about-sub-content">Spreadとは?</p>
		<p class="about-text">Spreadは、<br>
			商品やサービスを広めたい企業と<br>
			宣伝したいインフルエンサーのための<br>
			マッチングサイトです。
		</p>
	</div>
</div>
<div class="about-logo">
	<%= image_tag '/images/about-logo.jpg' %>
</div>

<div class="back-color">
	<div class="container">
		<div class="flow">
			<h1 class="flow-content">Flow</h1>
			<p class="flow-sub-content">ご利用の流れ</p>
			<div class="flow-logo1"><%= image_tag '/images/flow1.png' %></div>
			<p class="owner-flow-btn"><%= link_to "無料登録", new_owner_registration_path, class: "btn btn-info btn-lg" %></p>
			<div class="flow-logo2"><%= image_tag '/images/flow2.png' %></div>
			<p class="influencers-flow-btn"><%= link_to "無料登録", new_influencer_registration_path, class: "btn btn-success btn-lg" %></p>
		</div>
	</div>
</div>

<div class="container">
	<div class=q-a>
		<h1 class="q-a-content">Q&A</h1>
		<p class="q-a-sub-content">よくある質問</p>
		<div class="qanda">
			<table class="table table-hover table-inverse table-bordered">
				<tbody>
					<tr>
						<td><p class="q">
							<span>Q </span>個人事業主やサラリーマンでも登録できますか？</p>
						<p class="a"><span>A </span>何らかのビジネスを行っている方であれば<br>
						どなたでも登録可能です！</p>
						</td>
					</tr>
					<tr>
						<td><p class="q">
							<span>Q </span>フォロワーが少なくても登録できますか？</p>
						<p class="a"><span>A </span>できます！<br>
						ただフォロワーが多い方がスカウトチャットは届きやすいです。</p>
						</td>
					</tr>
					<tr>
						<td><p class="q">
							<span>Q </span>サイトの利用料金はかかりますか？</p>
						<p class="a"><span>A </span>一切かかりません！<br>
						インフルエンサーの方も企業の方も無料でサイトを利用できます。</p>
						</td>
					</tr>
					<tr>
						<td><p class="q">
							<span>Q </span>仕事を受ける条件は何でもいいのですか？</p>
						<p class="a"><span>A </span>何でも大丈夫です！<br>
							お金次第の方もいれば無料で仕事を受ける方もいます。<br>
							自分が仕事を受けてもいいと思う条件を企業に伝えましょう。
						</p>
						</td>
					</tr>
					<tr>
						<td><p class="q">
							<span>Q </span>登録できるSNSの指定はありますか？</p>
						<p class="a"><span>A </span>ありません！</p>
						</td>
					</tr>
					<tr>
						<td><p class="q">
							<span>Q </span>インフルエンサーの方へ支払う代金の目安は？</p>
						<p class="a"><span>A </span>決まっていません！<br>
						インフルエンサーの方さえ良ければ無料で仕事をお願いする事ができます。<br>
						チャットを使って打ち合わせをしましょう。</p>
						</td>
					</tr>
					<tr>
						<td><p class="q">
							<span>Q </span>インフルエンサーから企業にチャットは送れないですか？</p>
						<p class="a"><span>A </span>送れないです、<br>
						マイページを充実させて企業からのスカウトチャットを待ちましょう。
						</p>
						</td>
					</tr>
					<tr>
						<td><p class="q">
							<span>Q </span>チャット以外でやり取りをしてもいいですか？</p>
						<p class="a"><span>A </span>大丈夫です！
						</p>
						</td>
					</tr>
					<tr>
						<td><p class="q">
							<span>Q </span>連絡先を交換してもいいですか？</p>
						<p class="a"><span>A </span>大丈夫です！<br>
						サイトのチャット機能を用いて、何回か連絡を取り合ってから連絡先を交換するのも良いですし<br>
						いきなり連絡先を交換するのも問題ありません。
						</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="footer">
	 <%= image_tag '/images/touroku.jpg' %>
  <p class="footer-text">
	いますぐ登録!!</p>
  <p class="footer-influencers-btn"><%= link_to "インフルエンサーの方はこちら", new_influencer_registration_path, class: "btn btn-success btn-lg" %></p>
  <p class="footer-owner-btn"><%= link_to "企業の方はこちら", new_owner_registration_path, class: "btn btn-info btn-lg" %></p>
  <p class="footer-spread">©Spread</p>
</div>

<span id="back">
  <a href="#">
  	<img src="/assets/arrow.png" alt="">
  </a>
</span>

