<div class="container">
	<div class="row">
		<h2 class="well well-sm col-xs-3 text-center">チャット一覧</h2>

		<% @rooms.each do |room| %>
			<table class="table table-striped">
				<tr>
					<td>
						<%= link_to room_path(room.id) do %>
						<%= attachment_image_tag room.influencer, :profile_image, format: 'jpeg', class: "rounded-circle", fallback: "no_img.jpg", size: "30x30" %>
						<% if current_owner %>
							<%= room.influencer.name %>
						<% else %>
							<%= room.owner.name %>
						<% end %>
						<% end %>
					</td>
					<td>
						<h6 style="color: #C0C0C0;"><%= room.updated_at.strftime("%Y/%m/%d %H:%M") %></h6>
					</td>
					<td>
						<%= link_to room_path(room), method: :delete do %>
							<i class="fas fa-trash" style="color: black;"></i>
							<% end %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>

