    <nav class="nav navbar-nav navbar-left">
      <%= link_to influencer_top_path do %>
        <%= image_tag '/images/logo.png' %>
      <% end %>
    </nav>

    <nav class="nav navbar-nav navbar-right">
      <ul>
        <% if influencer_signed_in? %>
          <span>
            ようこそ、<%= current_influencer.name %>さん！
          </span>
          <li><%= link_to 'マイページ', influencer_path(current_influencer) %></li>
          <li><%= link_to 'クライアント一覧', influencer_owners_path %></li>
          <li><%= link_to 'チャット一覧', rooms_path %></li>
          <li><%= link_to 'ログアウト', destroy_influencer_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'About', root_path %></li>
          <li><%= link_to '新規登録', new_influencer_registration_path %></li>
          <li><%= link_to 'ログイン', new_influencer_session_path %></li>
        <% end %>
      </ul>
    </nav>
